
.main {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    gap: 1rem;
    transform: translate(-50%, -50%);
}

.logo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.logo {
    width: 4rem;
    height: 4rem;
}

/* *Left */
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    font-size: 56px;
    font-weight: 500;
    /* background: -webkit-linear-gradient(#C4A0FF, #EEF6FF); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

.version {
    border-radius: 50%;
}

.desc {
    font-size: 18px;
    color: rgb(43, 43, 43);
    margin-bottom: 1rem;
}

.btn__img {
    width: 150px;
}

/* *Right */
.right {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.img {
    width: 600px;
    padding: 0;
    position: relative;
}

/* Media queries */
@media screen and (max-width: 1024px) {
    .main {
        width: 80%;
        flex-direction: column;
    }

    .img {
        width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 80%;
        flex-direction: column;
    }

    .img {
        width: 400px;
    }
}