
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__img {
    width: 50%;
    padding: 0;
    position: relative;
    top: 100px;
}

.main__title {
    font-size: 96px;
    /* color: white; */
    background: -webkit-linear-gradient(#C4A0FF, #EEF6FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title__version {
    border-radius: 50%;
}

.main__desc {
    color: white;
    text-align: center;
}
