.section {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    width: 40%;
    padding-bottom: 100px;
}

.section div {
    margin-bottom: 3rem;
}

.section strong {
    font-size: 36px;
    color: var(--midnight-blue);
}

.section p {
    font-size: 1.1rem;
    font-weight: 300;
    color: rgb(62, 62, 82);
    margin-bottom: 1rem;
}

.section a {
    color: var(--cornflower-blue)
}


/* Media queries */
@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1024px) {
    .section {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .section {
        top: 20%;
        width: 60%;
    }
}

@media screen and (max-width: 450px) {
    .section {
        top: 10%;
        width: 80%;
    }
}

